<?xml version='1.0' encoding='UTF-8'?>  
  
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>  
    <session-factory> 
	    <property name="connection.url">jdbc:mysql://127.0.0.1:3306/test?characterEncoding=utf8</property>  
	    <!-- <property name="connection.url">jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;characterEncoding=UTF-8</property> -->
	    <property name="connection.username">root</property>  
	    <property name="connection.password">root</property>  
	    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
	    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
	    <!-- <property name="dialect">org.hibernate.dialect.SQLServer2008Dialect</property> -->
	    <property name="hibernate.c3p0.min_size">8</property>
	    <property name="hibernate.c3p0.max_size">10</property>
	    <property name="hibernate.c3p0.timeout">5000</property>
	    <property name="hibernate.c3p0.max_statements">10</property>
	    <property name="hibernate.c3p0.idle_test_period">30000</property>
	    <property name="hibernate.c3p0.acquire_increment">2</property>
	    <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
	    <property name="show_sql">true</property> 
	    <property name="hibernate.hbm2ddl.auto">update</property> 
	    <mapping resource="cn/com/entry/User.hbm.xml"/>
    </session-factory>  
</hibernate-configuration>
